# Gather some stock data

In [14]:
import pandas_datareader as pdr
import datetime as dt
import pandas as pd

In [15]:
stock = ['aapl','msft','goog']
start = '2019-08-01'
end = dt.date.today()

In [16]:
df = pdr.data.get_data_yahoo(stock)

In [17]:
df=df[['Close', 'Volume']]
df.columns=['_'.join(col).rstrip('_') for col in df.columns.values]
df

,Close_aapl,Close_msft,Close_goog,Volume_aapl,Volume_msft,Volume_goog
Date,,,,,,
2016-12-05,27.277500,60.220001,762.520020,137298000.0,23552700.0,1394200.0
2016-12-06,27.487499,59.950001,759.109985,104782000.0,19907000.0,1690700.0
2016-12-07,27.757500,61.369999,771.190002,119994800.0,30809000.0,1761000.0
2016-12-08,28.030001,61.009998,776.419983,108273200.0,21220800.0,1488100.0
2016-12-09,28.487499,61.970001,789.289978,137610400.0,27349400.0,1821900.0
...,...,...,...,...,...,...
2021-11-29,160.240005,336.630005,2922.280029,88748200.0,28563500.0,1313800.0
2021-11-30,165.300003,330.589996,2849.040039,174048100.0,42885600.0,2079500.0
2021-12-01,164.770004,330.079987,2832.360107,152052500.0,33337600.0,1423800.0
2021-12-02,163.759995,329.489990,2875.530029,136739200.0,30766000.0,1062500.0
2021-12-03,161.839996,323.010010,2850.409912,117938300.0,41755900.0,1333800.0

In [18]:
df.to_csv('data.csv')