# Gather some stock data

In [1]:
import pandas_datareader as pdr
import datetime as dt
import pandas as pd 
import yfinance as yf

In [18]:
stock = ['aapl','msft','goog', 'spy', 'bno']
sectors_txt = "xly igv fdn xlre xlk xrt jets tan xlv smh ibb xlu itb xlp xlc pho xli xlf xlb moo pbw xme xle gdx lqd spy tlt weat corn uup aapl bno"
sectors = sectors_txt.split(' ')

In [19]:
def get_price_data(stocks, download = False):
    stocks = [x.upper() for x in stocks]
    if download != False: 
        from yfinance import download as yfd 
        today = dt.datetime.today().strftime('%Y-%m-%d')
        stock_price = yfd(stocks, start='1994-12-31', end=today)
        stock_price.columns.names =['Metric', 'Stock_name']
        stock_price.head()
        stock_price.to_csv('stock_prices.csv')
        return stock_price
    else: 
        sp = pd.read_csv('stock_prices.csv', header=[0,1])
        sp.set_index(sp.columns[0], inplace= True)
        sp.index.name = 'Date'
        sp.columns.names =['Metric', 'Stock_name']
        return  sp.iloc[1:, :]

df = get_price_data(sectors, download =True )

def add_stock_price(stock, sp = df):
    out = sp.xs(key = stock.upper(), axis = 1, level = 'Stock_name', drop_level=True)
    out.columns.names = ['']
    out.columns = out.columns.get_level_values(0)
    return out

[*********************100%***********************]  32 of 32 completed

In [20]:
add_stock_price('aapl')

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
1995-01-03,0.289250,0.342634,0.347098,0.338170,0.347098,103868800
1995-01-04,0.296788,0.351563,0.353795,0.344866,0.344866,158681600
1995-01-05,0.293018,0.347098,0.351563,0.345982,0.350446,73640000
1995-01-06,0.316573,0.375000,0.385045,0.367188,0.371652,1076622400
1995-01-09,0.310567,0.367885,0.373884,0.366071,0.371652,274086400
...,...,...,...,...,...,...
2022-08-08,164.869995,164.869995,167.809998,164.199997,166.369995,60276900
2022-08-09,164.919998,164.919998,165.820007,163.250000,164.020004,63135500
2022-08-10,169.240005,169.240005,169.339996,166.899994,167.679993,70170500
2022-08-11,168.490005,168.490005,170.990005,168.190002,170.059998,57149200
2022-08-12,172.100006,172.100006,172.169998,169.399994,169.820007,67946400

In [21]:
out = []
for i in sectors:
    out.append((i, len(add_stock_price(i).dropna())))

In [22]:
sorted(out, key = lambda x: x[1], reverse = False)

[('xlc', 1046),
 ('xlre', 1724),
 ('jets', 1836),
 ('weat', 2743),
 ('bno', 3062),
 ('corn', 3067),
 ('tan', 3609),
 ('moo', 3762),
 ('uup', 3892),
 ('fdn', 4060),
 ('xrt', 4064),
 ('xme', 4064),
 ('gdx', 4086),
 ('itb', 4097),
 ('pho', 4200),
 ('pbw', 4393),
 ('lqd', 5046),
 ('tlt', 5046),
 ('igv', 5303),
 ('ibb', 5410),
 ('smh', 5584),
 ('xly', 5949),
 ('xlk', 5949),
 ('xlv', 5949),
 ('xlu', 5949),
 ('xlp', 5949),
 ('xli', 5949),
 ('xlf', 5949),
 ('xlb', 5949),
 ('xle', 5949),
 ('spy', 6953),
 ('aapl', 6953)]